<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Imóveis</title>
</head>
<body>
<section layout:fragment="content" class="margem">
    <h3 class="titulo">Imóveis</h3>

    <div th:replace="fragments/mensagemSucesso"></div>
    <div th:replace="fragments/mensagemErroSemForm"></div>

    <table id="data-table" class="table table-striped">
        <thead>
        <tr class="filters">
            <th class="col-2">Negócio</th>
            <th class="col-2">Categoria</th>
            <th class="col-1">Quarto</th>
            <th class="col-2">Cidade/UF</th>
            <th class="col-1">Preço</th>
            <th class="col-1">Status</th>
            <th class="col-3"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
<th:block layout:fragment="script">
    <script src="/js/imovel.js"></script>
</th:block>
</body>
</html>
