<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout.html}">
<head>
<title>Negócios</title>
</head>
<body>
	<section layout:fragment="content" class="distanciamento">
		<h2 class="inline">Negócios</h2>
		<h2 class="inline" th:text="${texto_busca}"></h2>
		<a class="btn btn-success text-white bold voltar" th:href="@{/classificador/negocioEntity/cadastro}">Novo Negócio</a>
		<div class="pesquisa" style="margin:10px 0">
			<form class="form-horizontal" th:action="@{/classificador/negocioEntity/pesquisa}">
				<div class="input-group">
					<input class="form-control input-search" name="pesquisa" placeholder="Pesquisar Negócio">
					<button class="btn btn-default input-group-append" type="submit">🔍</button>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/mensagemSucesso"></div>
		<div th:replace="fragments/mensagemErroSemForm"></div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-1">Id</th>
					<th class="col-2">Negócio</th>
					<th class="col-2">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="negocioEntity:${negocios}">
					<td th:text="${negocioEntity.id}"/>
					<td th:text="${negocioEntity.nome}"/>
					<td>
						<a class="btn btn-primary" th:href="@{/classificador/negocioEntity/editar/{id}(id=${negocioEntity.id})}">Editar</a>
						<a class="btn btn-danger" th:href="@{/classificador/negocioEntity/excluir/{id}(id=${negocioEntity.id})}">Excluir</a>
					</td>
				</tr>
				<tr class="text-center">
					 <td colspan="4" th:if="${#lists.isEmpty(negocios)}">Nenhum negócio cadastrado</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>
