<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layoutLogin.html}">
<body>
<section layout:fragment="content" class="container-login">
    <div class="logo-login text-center">
        <img src="images/logo.png">
        <h3>Login</h3>
    </div>

    <div class="alert alert-danger" th:if="${param.error}">
        <div>Usuário ou senha inválido</div>
    </div>
    <div class="alert alert-success" th:if="${param.logout}">
        <div>Sua conta foi desconectada</div>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-item">
            <label>Usuário:</label>
            <input class="form-control" placeholder="Insira o Usuário" type="text" name="username"/>
        </div>
        <div class="form-item">
            <label>Senha:</label>
            <input class="form-control" placeholder="Insira a Senha" type="password" name="password"/>
        </div>
        <div class="form-item" style="padding:10px 0">
            <input class="btn btn-primary" type="submit" value="Entrar"/>
        </div>
    </form>
    <a th:href="@{/signup}">Cadastre-se</a>
</section>
</body>
</html>
