<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layoutLogin.html}">
<head>
    <title>Cadastro</title>
</head>
<body>
<section layout:fragment="content">
    <div class="col-login-form">
        <div class="container-login">
            <h3>Cadastro</h3><br>

            <form th:action="@{/signup}" method="post" th:object="${user}">
                <div th:replace="fragments/mensagemErro"></div>
                <div class="form-item" th:classappend="${#fields.hasErrors('name')}? is-invalid">
                    <span><i class="fa fa-user-circle"></i></span>
                    <input class="form-control input-login" placeholder="Nome Completo" type="text" th:field="*{name}"/>
                </div>
                <div class="form-item" th:classappend="${#fields.hasErrors('email')} or ${erroEmail}? is-invalid">
                    <span><i class="fa fa-envelope"></i></span>
                    <input class="form-control input-login" placeholder="E-mail" type="email" th:field="*{email}"/>
                </div>
                <div class="form-item" th:classappend="${#fields.hasErrors('username')}? is-invalid">
                    <span><i class="fa fa-user"></i></span>
                    <input class="form-control input-login" placeholder="Usuário" type="text" th:field="*{username}"/>
                </div>
                <div class="form-item" th:classappend="${#fields.hasErrors('password')}? is-invalid">
                    <span><i class="fa fa-lock"></i></span>
                    <input class="form-control input-login" placeholder="Senha" type="password" th:field="*{password}"/>
                </div>
                <div class="form-item" style="padding:10px 0">
                    <input class="btn btn-primary form-control button-login" type="submit" value="Cadastrar"/>
                </div>
            </form>
            <a th:href="@{/login}">Já tenho conta</a>
        </div>
    </div>
    <div class="col-login-image2">&nbsp;</div>
</section>
</body>
</html>
