<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layoutLogin.html}">
<head>
    <title>Cadastro</title>
</head>
<body>
<section layout:fragment="content" class="container-login">
    <h3>Cadastro</h3><br>

    <form th:action="@{/signup}" method="post" th:object="${userEntity}">
        <div th:replace="fragments/mensagemErro"></div>
        <div class="form-item" th:classappend="${#fields.hasErrors('userName')}? is-invalid">
            <label>Usuário:</label>
            <input class="form-control" placeholder="Insira o Usuário" type="text" th:field="*{userName}"/>
        </div>
        <div class="form-item" th:classappend="${#fields.hasErrors('email')} or ${erroEmail}? is-invalid">
            <label>E-mail:</label>
            <input class="form-control" placeholder="Insira o E-mail" type="email" th:field="*{email}"/>
        </div>
        <div class="form-item" th:classappend="${#fields.hasErrors('password')}? is-invalid">
            <label>Senha:</label>
            <input class="form-control" placeholder="Insira a Senha" type="password" th:field="*{password}"/>
        </div>
        <div class="form-item" style="padding:10px 0">
            <input class="btn btn-primary" type="submit" value="Criar Conta"/>
        </div>
    </form>
    <a th:href="@{/login}">Já tenho conta</a>
</section>
</body>
</html>
