<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout.html}">
<head>
<title>Edição de Categorias</title>
</head>
<body>
	<section layout:fragment="content" class="distanciamento">
		<h2 class="inline">Editar Categoria</h2>
		<a class="btn btn-primary voltar" th:href="@{/classificador/categorias}">Voltar</a>
		
		<form th:action="@{/classificador/categoria/editar}" method="post" th:object="${categoria}">
			<div th:replace="fragments/mensagemErro"></div>
			<div th:replace="fragments/mensagemSucesso"></div>
			
			<div class="form-item" th:classappend="${#fields.hasErrors('nome')}? is-invalid">
				<label for="nome">Categoria</label>
				<input class="form-control" id="nome" th:field="*{nome}" 
					placeholder="Digite o nome da Categoria">
			</div>		
			<input type="hidden" th:field="*{id}" >
			<button style="margin-top:10px" type="submit" class="btn btn-success">Atualizar Categoria</button>
		</form>
	</section>
</body>
</html>
