<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="/js/script.js"></script>
<link rel="stylesheet" href="/css/style.css" />

<title>Gestão de Imóveis</title>
</head>

<body>
	
	<div class="d-flex" id="wrapper">

	    <!-- Sidebar -->
	    <div class="bg-dark border-right text-white" id="sidebar-wrapper">
	      <div class="sidebar-heading text-dark">.</div>
	      <div class="list-group list-group-flush">
	        <a href="#" class="list-group-item list-group-item-action bg-dark text-white" th:href="@{/}">Home</a>
	        <a href="#" class="list-group-item list-group-item-action bg-dark text-white" th:href="@{/user/imovel/todos}">Imóveis</a>
			<div class="list-group-item bg-dark">
	        	<form th:action="@{/logout}" method="post"><input class="btn-a" type="submit" value="Logout"/></form>
	        </div>
	      </div>
	    </div>
	    <!-- /#sidebar-wrapper -->
	
	    <!-- Page Content -->
	    <div id="page-content-wrapper">
	      <div class="container-fluid">
			  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				  <!-- <button class="btn btn-primary" style="margin-right:30px"  id="menu-toggle" onclick="toggle()">Ocultar Menu</button> -->
				  <h2>Gestão de Imóveis</h2>
				  <!-- <a class="btn btn-primary voltar" th:unless="${index}" style="position:absolute;right: 5%; " th:href="@{/}">Voltar a tela inicial</a> -->
			  </nav>
			  <section layout:fragment="conteudo">
				<p>Página não encontrada</p>
			</section>  
	      </div>
	    </div>
	    <!-- /#page-content-wrapper -->
	  </div>
		
</body>
</html>