<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fontawesome.min.css" rel="stylesheet"/>
    <link href="/css/datatables.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/estado-municipio.js"></script>

    <title>Gestão de Imóveis</title>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right text-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-dark">.</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" th:href="@{/}">Home</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white"
               th:href="@{/classificador/categorias}">Categorias</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white"
               th:href="@{/classificador/negocios}">Negócios</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" th:href="@{/imovel/todos}">Imóveis</a>
            <div class="dropright show">
                <a class="list-group-item list-group-item-action bg-dark text-white dropdown-toggle"
                   href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Localização</a>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item text-white bg-dark" th:href="@{/localidade/estados}">Estados</a>
                    <a class="dropdown-item text-white bg-dark" th:href="@{/localidade/municipios}">Municípios</a>
                    <a class="dropdown-item text-white bg-dark" th:href="@{/localidade/bairros}">Bairros</a>
                </div>
            </div>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white"
               th:href="@{/classificador/quartos}">Quartos</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white"
               th:href="@{/swagger-ui.html}" target="_blank">Acessar API</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white"
               th:href="@{/logout}">Sair</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn" id="menu-toggle" onclick="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h3>Gestão de Imóveis</h3>
            <!-- <a class="btn btn-primary voltar" th:unless="${index}" style="position:absolute;right: 5%; " th:href="@{/}">Voltar a tela inicial</a> -->
        </nav>
        <div class="container-fluid">
            <section layout:fragment="content">
                <p>Página não encontrada</p>
            </section>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<script src="/js/datatables.min.js"></script>
<th:block layout:fragment="script"/>
</body>
</html>