<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fontawesome.min.css" rel="stylesheet"/>
    <link href="/css/datatables.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <title>Gestão de Imóveis</title>
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <span class="navbar-margin-left">
                <h2>Gestão de Imóveis</h2>
            </span>
            <span>
                <a class="btn btn-default" th:href="@{/logout}">Sair</a>
            </span>
        </nav>
        <div class="container-fluid">
            <section layout:fragment="content">
                <p>Página não encontrada</p>
            </section>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
</body>
</html>