body {
    background-color: #f5f5f5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px !important;
  font-family: inherit;
  font-weight: 400;
  padding-right: 22px !important;
}

#menu-toggle {
    margin: 2px 12px !important;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.margin-card {
    margin: 0px 10px !important;
}

.col-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    min-width: 25%;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  .margin-card {
      margin: 10px 90px !important;
  }

  .col-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    min-width: 30%;
  }

  .input-search {
    max-width: 50% !important;
  }
}

.input-search {
    max-width: 100%;
}

.distanciamento{
	padding:10px;
}

.card{
	padding:1px;
	margin:15px;
}

.card-img-top{
	height:auto;
	overflow: hidden;
}

.inline{
	display:inline
}

.is-invalid{
	color:red;
}
.is-invalid input,.is-invalid select{
	border-color:red;
}

.voltar{
	display:inline;
	float:right;
}

.btn-primary {
  min-width: 75px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.btn-success {
  min-width: 75px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.btn-danger {
  min-width: 75px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.btn-a{
  background: none !important;
  border: none;
  padding: 0 !important;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
    padding: 10px !important;
}

.text-center {
  text-align: center !important;
}

.container-login {
  width: 100%;
  max-width: 380px;
  padding: 60px 15px 40px 15px;
  margin: auto;
}

.logo-login {
  margin-top: 0px !important;
  padding-bottom: 15px !important;
}

.form-item {
  margin: 0px 0px !important;
  padding: 8px 0px !important;
}

.input-login {
  padding: 12px !important;
}

.text-version {
  font-size: 14px !important;
  text-align: center !important;
  margin-top: 35px !important;
}