<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<body>
<section layout:fragment="content" class="margin-card">
    <div class="row">
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/classificador/categorias}">
                    <i class="fas fa-folder-open fa-fw fa-4x padding-y-3xs"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/classificador/categorias}">CATEGORIAS ></a>
            </div>
        </div>
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/classificador/negocios}">
                    <i class="fas fa-briefcase fa-fw fa-4x padding-y-3xs"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/classificador/negocios}">NEGÓCIOS ></a>
            </div>
        </div>
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/imovel/todos}">
                    <i class="fas fa-building fa-fw fa-4x padding-y-3xs"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/imovel/todos}"> IMÓVEIS ></a>
            </div>
        </div>
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/imovel/imoveis-disponiveis}" target="_blank">
                    <i class="fas fa-building fa-fw fa-4x padding-y-3xs" style="font-weight: 100 !important"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/imovel/imoveis-disponiveis}" target="_blank"> IMÓVEIS DISPONÍVEIS ></a>
            </div>
        </div>
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/localidade/estados}">
                    <i class="fas fa-map fa-fw fa-4x padding-y-3xs"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/localidade/estados}">ESTADOS ></a>
            </div>
        </div>
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/localidade/municipios}">
                    <i class="fas fa-map-signs fa-fw fa-4x padding-y-3xs"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/localidade/municipios}">MUNICÍPIOS ></a>
            </div>
        </div>
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/localidade/bairros}">
                    <i class="fas fa-map-pin fa-fw fa-4x padding-y-3xs"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/localidade/bairros}">BAIRROS ></a>
            </div>
        </div>
        <div class="card col-card bg-card">
            <div class="card-icon">
                <a th:href="@{/classificador/quartos}">
                    <i class="fas fa-bed fa-fw fa-4x padding-y-3xs"></i>
                </a>
            </div>
            <div class="card-text text-right">
                <a class="text-white" th:href="@{/classificador/quartos}">QUARTOS ></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
