<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layoutUser.html}">
<body>
<section layout:fragment="conteudo" class="margin-card">
    <div class="card col-3 bg-dark">
        <a th:href="@{/user/imovel/todos}">
            <img class="card-img-top" th:src="@{images/imoveis.png}" alt="Imóveis">
        </a>
        <div class="card-body text-right">
            <p class="card-text">
                <a class="text-white" th:href="@{/user/imovel/todos}"> IMÓVEIS ></a>
            </p>
        </div>
    </div>
</section>
</body>
</html>
