<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layoutUsuario.html}">
<body>
<section layout:fragment="content" class="margin-card-imovel">
    <div class="row">
        <div class="col-6"><h4>Imóveis Disponíveis</h4></div>
        <div class="col-6 text-right">
            Filtrar Categoria <select id="filtrar-imovel">
            <option value="0" selected>Todas</option>
            <option th:selected="${cat.id==idCategoria}" th:each="cat:${categorias}" th:value="${cat.id}"
                    th:text="${cat.nome}">
        </select>
        </div>
    </div>
    <div id="imoveis" class="row">
        <div class="card-imovel col-card-imovel bg-card" th:each="imovel:${imoveis}">
            <span th:unless="${imovel.imagens.size>0}">
                <img class="card-img-imovel-home" th:src="@{/images/imoveis.png}" alt="Imóveis">
            </span>
            <a th:if="${imovel.imagens.size>0}" th:href="@{/imovel/visualizar/imovel-usuario/{id}(id=${imovel.id})}">
                <img class="card-img-imovel-home" th:src="@{${'/imagem/'+imovel.imagens[0].file}}">
            </a>
            <div class="card-imovel-text text-white">
                <h5 th:text="${imovel.negocio.nome+' ('+imovel.categoria.nome+')'}"></h5>
                <p th:text="${imovel.bairro.municipio.nome+'/'+imovel.bairro.municipio.estado.uf}"></p>
                <p th:inline="text">R$ [[${#numbers.formatDecimal(imovel.valor, 0, 'COMMA', 2, 'POINT')}]]</p>
                <a class="text-white" th:href="@{/imovel/visualizar/imovel-usuario/{id}(id=${imovel.id})}">
                    Mais detalhes ></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
