<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<body>
<section layout:fragment="content" class="distanciamento">
    <div class="row">
        <div class="card col-card bg-dark">
            <a th:href="@{/classificador/categorias}">
                <img class="card-img-top" th:src="@{images/categorias.png}">
            </a>
            <div class="card-body text-right">
                <p class="card-text">
                    <a class="text-white" th:href="@{/classificador/categorias}">CATEGORIAS ></a>
                </p>
            </div>
        </div>
        <div class="card col-card bg-dark">
            <a th:href="@{/classificador/negocios}">
                <img class="card-img-top" th:src="@{images/negocios.png}" alt="Negócios">
            </a>
            <div class="card-body text-right">
                <p class="card-text">
                    <a class="text-white" th:href="@{/classificador/negocios}">NEGÓCIOS ></a>
                </p>
            </div>
        </div>
        <div class="card col-card bg-dark">
            <a th:href="@{/imovel/todos}">
                <img class="card-img-top" th:src="@{images/imoveis.png}" alt="Imóveis">
            </a>
            <div class="card-body text-right">
                <p class="card-text">
                    <a class="text-white" th:href="@{/imovel/todos}"> IMÓVEIS ></a>
                </p>
            </div>
        </div>
        <div class="card col-card bg-dark">
            <a th:href="@{/localidade/estados}">
                <img class="card-img-top" th:src="@{images/estados.png}" alt="Estados">
            </a>
            <div class="card-body text-right">
                <p class="card-text">
                    <a class="text-white" th:href="@{/localidade/estados}">ESTADOS ></a>
                </p>
            </div>
        </div>
        <div class="card col-card bg-dark">
            <a th:href="@{/localidade/municipios}">
                <img class="card-img-top" th:src="@{images/municipios.png}" alt="Municípios">
            </a>
            <div class="card-body text-right">
                <p class="card-text">
                    <a class="text-white" th:href="@{/localidade/municipios}">MUNICÍPIOS ></a>
                </p>
            </div>
        </div>
        <div class="card col-card bg-dark">
            <a th:href="@{/localidade/bairros}">
                <img class="card-img-top" th:src="@{images/bairros.png}" alt="Bairros">
            </a>
            <div class="card-body text-right">
                <p class="card-text">
                    <a class="text-white" th:href="@{/localidade/bairros}">BAIRROS ></a>
                </p>
            </div>
        </div>
        <div class="card col-card bg-dark">
            <a th:href="@{/classificador/quarto}">
                <img class="card-img-top" th:src="@{images/quartos.png}" alt="Quartos">
            </a>
            <div class="card-body text-right">
                <p class="card-text">
                    <a class="text-white" th:href="@{/classificador/quartos}">QUARTOS ></a>
                </p>
            </div>
        </div>
    </div>
</section>
</body>
</html>
